.searchBox {
    max-width: 380px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    color: var(--accent-color);
    text-align: center;
}

.searchInput {
    padding: 8px;
    padding-left: 12px;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid var(--second-color);
    background-color: var(--primary-color);
}

::placeholder {
    color: rgba(14, 14, 14, 0.3);
}