.contactForm {
    max-width: 380px;
    min-width: 320px;
    border: 2px solid var(--primary-color);
    padding: 16px;
    border-radius: 8px;
}

@media only screen and (min-width: 386px) {
    .contactForm {
        width: 380px;
        min-width: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 462px) {
    .contactForm {
        max-width: 380px;
        width: 100%;
    }
}

.labelForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    margin-bottom: 16px;
}

.labelText {
    font-size: 18px;
}

.formField {
    padding: 8px;
    padding-left: 12px;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid var(--second-color);
    background-color: var(--primary-color);
}

.formButton {
    color: var(--second-color);
    padding: 8px 12px;
    text-align: center;
    font-size: 18px;
    height: 42px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
    border: 2px solid var(--second-color);
    background-color: var(--primary-color);
}

.errorMessage {
    color: var(--accent-color);
    font-size: 14px;
}