:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
  font-family: sans-serif;
  color: var(--second-color);
  background-color: var(--primary-color);

  --primary-color: #f9e3cc;
  --second-color: #261605;
  --accent-color: #f57a38;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
}